<html ng-app>

<head>
<title>JukeBox- Search,Follow,Recomend</title>
    <link rel="stylesheet" href="{{STATIC_URL}}darkly/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}darkly/bootswatch.min.css">
    <!--link rel="stylesheet" href="http://bootswatch.com/bower_components/font-awesome/css/font-awesome.min.css" media="screen"-->
  
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script-->

</head>
<body>

        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header-solid">
           <a class="navbar-brand" href="#"> <i class="fa fa-play-circle-o fa-2x"> JukeBox</i></a>
                      
        </div>
    



           <ul class="nav navbar-nav navbar-right">

          {% if user.is_authenticated %}
            
            <li><a href="{% url 'home' %}"><i class="fa fa-user"></i><b> {{ user.username }}</b></a></li> 
	    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
    
            {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>     
           {% endif %}
                 
          </ul> </div>
      </div>
    </header>
    <!-- <br/> -->
    <br/>
   <div class="container">
    {% block content %}
    


    {% endblock content %}


    <script src="{{STATIC_URL}}darkly/jquery-1.10.2.min.js"></script>
<script src="{{STATIC_URL}}darkly/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script> 

</body>
<!--footer>
 <p>
          Built with lots of <span style="color: #C0392B;">♥</span> and little bit of Python
        </p>
</footer>
</div>
</html>